:root {
  --border: 1px solid rgba(0, 0, 0, 0.125);
  --active-color: #0d6efd;
  --select-color: rgb(238, 238, 238);
  --bg-color: white;
  --bg-additional-color: rgb(245, 245, 245);
  --link-color: #0a58ca;
}

* {
  font-size: 15px;
}

.user-small {
  cursor: pointer;
}

.user-small:hover {
  background-color: rgb(245, 245, 245);
}

@media screen and (max-width: 768px) {
  .hide-on-sm {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .show-on-sm {
    display: none !important;
  }
}
